USE [StajAuthDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1.07.2026 12:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[resetPasswordToken] [varchar](255) NULL,
	[resetPasswordExpire] [datetime] NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name], [email], [password], [resetPasswordToken], [resetPasswordExpire], [createdAt]) VALUES (1, N'Ahmet Yilmaz', N'ahmet@gmail.com', N'$2b$10$E06RnOeyBGBT/Lbtvxl5Tei.eoPXp8SMZeGqVQQ8rHpKS1hpxgEFa', NULL, NULL, CAST(N'2026-06-30T13:52:36.050' AS DateTime))
INSERT [dbo].[Users] ([id], [name], [email], [password], [resetPasswordToken], [resetPasswordExpire], [createdAt]) VALUES (2, N'tarık', N'dogertarik15@gmail.com', N'$2b$10$iF1f5C.RNWplmKEQZge9wO0lgvxxD7Puv7fkkgB7jmYAGErsFuJHm', N'82e4af3508cc546204a78bf4468b7fce93f1eb62', CAST(N'2026-06-30T12:48:44.923' AS DateTime), CAST(N'2026-06-30T14:31:22.477' AS DateTime))
INSERT [dbo].[Users] ([id], [name], [email], [password], [resetPasswordToken], [resetPasswordExpire], [createdAt]) VALUES (3, N'Tarık Buğra Döğer', N'dogertarik1@gmail.com', N'$2b$10$Q9Y6SSyK1IYvGbP0Q0X1KejzYUYK4KE5reUVK0bmwIZ5zPPpKNAwG', NULL, NULL, CAST(N'2026-06-30T15:11:30.773' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164B78AADF8]    Script Date: 1.07.2026 12:04:56 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
